:root {
    --darkBlue: #121CB4;
    --purple: #706193;
    --softPurple: #f8ebff;
    --seaFoam: #67BAA7;
}

*{
    /*color: var(--softPurple);*/
}
body {
    background-color: var(--purple);
}

.accordion {
    width: 50%;
}

a:hover {
    text-decoration: none;
}

#searchResults {
    min-height: 300px;
    list-style: none;
}

/*#searchResults li:nth-of-type(even) {*/
/*    background-color: lightgray;*/
/*}*/

.titleHover {
    background-color: lightskyblue;
}
