:root {
    /*--darkBlue: #121cb4;*/
    /*--softPurple: #f8ebff;*/
    /*--seaFoam: #67baa7;*/


    --twine: #C78851;
    --rum: #736391;
    --steelGrey: #272139;
    --bombay: #B2B7BF;
    --red: #600502


}

* {
    /*font-family: 'Mallanna', sans-serif;*/
    /*color: var(--softPurple);*/
}

body {
    background-color: #8170a2;
    background-image: url("../img/theater.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh !important;
}

/*.header {*/
/*    font-family: 'Mallanna', sans-serif;*/
/*    font-weight: bold;*/
/*    font-size: 3em;*/
/*}*/

.sideLabel {
    color: #fcf9f9;
}

.form-check-label {
    color: #f1f1f1;
}

#sideForm .form-group {
    justify-content: space-between;
}

.accordion {
    width: 60%;
    visibility: hidden;
}

a {
    color: var(--rum);
    font-size: 18px;
}

a:hover {
    text-decoration: none;
    color: var(--twine);
}

#searchResults {
    height: 300px;
    list-style: none;
}


#dataDiv {
    max-height: 300px;
    overflow-y: scroll;
}

#dataDiv, #movieInfo {
    overflow-x: hidden;
    width: 400px;
    position: center;

}

#movieInfo {
    background-color: var(--steelGrey);
    max-height: 576px;
    margin: 5px;
    color: #f1f1f1;
}

.dataTitle {
    font-weight: bold;
    font-size: 16px;
}

.prop {
    font-weight: bold;
    font-size: 12px;
}

#load {
    /*border-radius: 50%;*/
    position: fixed;
    margin: 0;
    top: 50%;
    left: calc(50% - 50px);
    width: 100px;
    /*animation: spin 2s linear infinite;*/
    /*border-right: 16px solid var(--twine);*/
    /*border-bottom: 16px solid var(--red);*/
    /*border: 16px solid var(--steelGrey);*/
    /*border-top: 16px solid white;*/
    transform-origin: 54px center;
    animation: spin 2s cubic-bezier(.8, 0, .2, 1) infinite;

}
@keyframes spin {

    50% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }

}



/*@keyframes spin {*/
/*    0% {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    100% {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/


.dataTitle {
    position: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--steelGrey);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-image: url("../img/movie-reel-transparent-background-3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
    background-size: 250px 150px;
    /*background-size: ;*/

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: -15px;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

#sideForm .form-control {
    width: 75%;
    margin: 0 auto;
}

#sideForm i {
    font-size: 24px;
}

.card i {
    font-size: 24px;
    color: whitesmoke;
}

#addControls i {
    font-size: 40px;
    color: var(--rum);
}

#addControls i:hover {
    color: var(--twine);
    font-size: 2em;
}


.far {
    opacity: 30%;
}

#menu {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 20px;
}

#menu:hover {
    color: var(--rum);
}

#movieInfo {
    position: absolute;
    top: 10%;
    right: 0;
}

.card-header {
    font-family: 'Headland One', serif;
    font-size: 2em;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(39, 35, 84) 0%, rgba(170, 116, 217, 0.711922268907563) 50%, rgb(39, 35, 84) 100%);
}

.movieTitle {
    color: white;
}
.movieTitle:hover {
    color: var(--twine);
}

.container .card-body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(39, 35, 84) 0%, rgba(170, 116, 217, 0.711922268907563) 50%, rgb(39, 35, 84) 100%);
}

.btn-link {
    color: white;
}

.btn-link:hover {
    color: var(--twine);
}

.card-body {
    color: var(--steelGrey);
}

.modal-header {
    background: rgb(50,48,94);
    background: linear-gradient(90deg, rgba(50,48,94,1) 0%, rgba(157,150,163,0.9822303921568627) 48%, rgba(50,48,94,1) 100%);
    color: black;
    font-size: larger;
    font-weight: bold;
}


.modal-body {
    background-color: var(--steelGrey);
    color: #f1f1f1;
}

.jumbotron {
    background: transparent;
    position: sticky;
}

.page-link {
    margin: 1em auto 0em;
    background-color: var(--rum);
    color: var(--steelGrey);
    border-color: #272139;
}

.pagination > li.active > a {
    color: var(--twine) !important;
    background-color: var(--steelGrey) !important;
    box-shadow: none;
    outline: 0;
    background-image: none;
}

#submitSearch {
    color: var(--twine) !important;
    background-color: var(--steelGrey) !important;
    box-shadow: none;
    outline: 0;
    background-image: none;
}

.btn-primary {
    color: var(--twine) !important;
    background-color: var(--steelGrey) !important;
    box-shadow: none;
    outline: 0;
    background-image: none;
}

.btn-secondary {
    color: var(--twine) !important;
    background-color: var(--rum) !important;
    box-shadow: none;
    outline: 0;
    background-image: none;
}

#reviewDiv {
    color: #f1f1f1;
}